@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&family=Roboto:wght@100;300;400&display=swap');
:root {
    --roboto: "Roboto" sans-serif;
    --poppins: "Poppins" sans-serif;
    --white: hsl(252, 30%, var(--white-color-lightness));
    --black: black;
    --blackish:rgb(73, 72, 72);
    --sonic-silver:hsl(0, 0%, 47%);
    --spanish-gray:hsl(0, 0%, 60%);
    --light-gray:rgb(233, 230, 230);
    --primary-color-hue: 252;
    --dark-color-lightness:17%;
    --light-color-lightness:95%;
    --white-color-lightness:100%;
    --light-color: hsl(252, 30%, var(--light-color-lightness));
    --gray-color: hsl(var(--primary-color-hue), 15%, 65%);
    --primary-color:hsl(var(--primary-color-hue), 75%, 60%);
    --primary1-color:hsl(52, 75%, 60%);
    --primary2-color:hsl(202, 75%, 60%);
    --secondary-color:hsl(240, 6%, 93%);
    --success-color:hsl(120, 43%, 48%);
    --danger-color:hsl(0, 95%, 65%);
    --dark-color:hsl(252, 30%, var(--dark-color-lightness));
    --box-shadow:  0 2px 10px rgba(0, 0, 0, 0.3);
    --dark-text: rgb(34, 31, 31);
    --border-radius-sd:5px;
    --border-radius:32px;
    --card-border-radius:16px;
    --btn-padding:9px 32px;
    --search-padding: 9px 16px;
    --card-padding:16px;

    --sticky-top-left:86.4px;
    --sticky-top-right:-288px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --fs-1:1.563rem;
    --fs-2:1.375rem;
    --fs-3:1.25rem;
    --fs-4:1.125rem;
    --fs-5:1rem;
    --fs-6:0.938rem;
    --fs-7:0.875rem;
    --fs-8:0.813rem;
    --fs-9:0.75rem;
    --fs-10:0.688rem;
    --fs-11:0.625rem;


    }
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;
    /* border: none; outline: none; */
    outline: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-text);
}
body {
    /* overflow-x: hidden; */
    font-family: var(--poppins);
    color: #000;
    background-color: #fff;
    padding-bottom: 60px;
}
html{
    overscroll-behavior: contain;
}
img {
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: #fff;
    border-left: 1px solid var(--gray-color);
}
body::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 80%);
    border: 3px solid #fff;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 70%);

}
/* general styling */
.container{
    width:var(--container-width-lg);
    margin:0 auto;
}
.title{
    color: var(--blackish);
    font-size: var(--fs-5);
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-color);
    margin-bottom: 30px;
}
.icons{
    cursor: pointer;
    font-size: 24px;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
input{
    width: 100%;
    display: block;
}
.input:hover{
    border-color: var(--blackish);
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius:10px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
}
.text-bold{
    font-weight: 500;
    color: #000;
}
.text-muted{
    color: var(--gray-color);
}
.has-scrollbar{
    padding-bottom: 5px;
}
.has-scrollbar::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
.has-scrollbar::-webkit-scrollbar-thumb{
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
}
.has-scrollbar:hover::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 90%);
}
.has-scrollbar::-webkit-scrollbar:hover{
    background: hsl(0, 30%, 96%);
}




#preloader{
    background: #fff url(assets/gif\ loader.gif) no-repeat center center;
    height: 100vh;
    background-size: 40%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
/* modal */
.modal-container{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: none;
}
.modal{
    background: #fff;
    width: 350px;
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.modal-container.show-modal{
    display: block;
}
.modal-header{
    background: var(--primary2-color);
    color: #fff;
    padding: 15px;
}
.modal-header h3{
    margin: 0;
    font-size: 25px;
}
.modal #times{
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background: transparent;
    border: none;
}
.modal-content{
    padding: 20px;
    font-size: 19px;
}
.modal-content div {
    margin: 15px 0;
}
.modal-content div label{
    display: block;
    margin-bottom: 12px;
}
.modal-content div input{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-color:var(--primary2-color) ;
    width: 100%;
}
.form-btn{
   text-align: center;
   background: transparent;
}
#close-btn{
    font-size: 16px;
    background-color: var(--primary2-color);
    border-color: #fff;
    color: #fff;
}
#close-btn:hover{
    background: transparent;
    color: #000;
    border-color: var(--primary2-color);
}

/* notification popup */
.notification-popup{
    background-color: #fff;
    position: fixed;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-sd);
    width: 300px;
    max-width: 100%;
    bottom: 80px;
    left: 20px;
    right: 20px;
    transform: translateX( calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: slideInOut 10s ease-in-out infinite;
}
@keyframes slideInOut {
    0%,
    45%,
    100%{
        transform: translateX( calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }
    50%,
    95%{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}
.notification-popup.closed {
    display: none;
}


.notification-popup #notifi-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--gray-color);
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
.notification-toast{
    display: flex;
    align-items: flex-start;
    gap: 15px ;
    padding: 25px;
}
.notifi-img{
    width: 50%;
    border: 1px solid rgb(202, 195, 195);
    padding: 5px;
}
.notifi-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: 0.5s ease;
}
.notifi-img:hover{
    transform: scale(0.9);
}

/* Header styling */
.header-top, .desktop-navigation-menu,
.icons-link{
    display: none;
}
.header-main{
    padding: 20px 0;
    border-bottom: 1px solid var(--gray-color);
}
.input input{
    border: none;
    background-color: transparent;
    font-size: 14px;

}
.input{
    margin-top: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border:1px solid var(--secondary-color);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    color: var(--gray-color);
}

.header-logo img{
    margin: auto;
}
.fa-search:hover{
    color: var(--primary2-color);
}
.action-btn{
    position: relative;
    font-size: 20px;
    color: #000;
}
.action-btn a{ 
     color: var(--gray-color);
}
.count{
    position: absolute;
    color: #fff;
    background-color: var(--danger-color);
    font-size: 12px;
    color: var(--white);
    border-radius: 20px;
    padding: 2px 5px;
    top: -3.2px;
    right: -4.8px;
} 

.mobile-bottom-nav {
    background: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
    padding: 5px 0;
    z-index: 5;
}
.action-btn{
    color: #000;
}
.mobile-nav-menu{
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}
.mobile-nav-menu.active{
    left: 0;
    visibility: visible;
}

.menu-top{
    padding-bottom:15px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid var(--gray-color);
}
.menu-top .menu-title{
    color:var(--primary2-color);
    font-size:var(--fs-4);
    font-weight:600;
}
.menu-close-btn{
    color: var(--gray-color);
}
.menu-close-btn .uil-times{
    font-size: 20px;
    stroke-width: 50px;
}
.mobile-menu-category-list{
    margin-bottom: 30px;
}
.menu-category .accord-menu{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu-category-list .menu-category{
    border-bottom: 1px solid var(--gray-color);
    padding: 10px 0;
}
.mobile-menu-category-list .menu-title{
    color: var(--blackish);
    font-size:var(--fs-6);
    font-weight:500;
    padding: 12px 0;
}
.accord-menu > div {
    font-size: 14px;
}
.accord-menu .uil{
    color: var(--blackish);
    stroke-width: 100px;
}
/* .accord-menu.active .uil-plus,
.accord-menu .uil-minus{
    display: none;
}

.accord-menu .uil-plus,
.accord-menu.active .uil-minus{
    display: block;
} */
.menu-category .submenu-category-list{
    margin-left: 10px;
}
.submenu-title{
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight:300;
}
.submenu-title:hover{
    color: rgb(201, 194, 194);
}
.submenu-category-list{
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.show-menu.active .submenu-category-list{
    max-height: 148px;
    visibility: visible;
}
.menu-bottom .menu-category-list{
    margin-bottom: 20px;
}
.menu-bottom .menu-category{
    border-bottom: none;
}
.menu-bottom .menu-title {
    font-size: var(--fs-6);
    font-weight: 500;
    color: var(--blackish);
    padding: 12px 0;
}
.menu-category.active .fa {
    transform: rotate(-0.25turn);
}
.menu-bottom .submenu-category-list{
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    padding: 0 15px;
    margin-left: 0;
    box-shadow:  0 0 10px hsla(0, 0%, 0%, 0.05);
}
.menu-category .submenu-category-list .submenu-category{
    padding: 5px 0;
}
.menu-bottom .submenu-category:not(:last-child){
    border-bottom: 1px solid  var(--gray-color);
}

.menu-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu-social-container .social-links{
    background:rgb(233, 230, 230);
    color: var(--blackish);
    font-size: 20px;
    padding: 10px;
    border-radius: 13px;
}

.banner {margin: 30px 0;}
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-sd);
    margin-bottom: 0;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}
.slider-item{
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1/1;
    overflow: hidden;
    scroll-snap-align: start;
}
.slider-item .banner-img{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sd);
    object-fit: cover;
    object-position: center;
}
.slider-item .image{
    object-position: right;
}
.slider-item .banner-content{
    position: absolute;
    background: hsla(0, 0%, 100%, 0.8);
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: 10px;
}
.banner-subtitle {
    color: var(--primary2-color);
    font-size: var(--fs-6);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.banner-title{
    color: var(--blackish);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}
.banner-text{
    display: none;
}

.banner-btn{
    background: var(--primary2-color);
    color: var(--white);
    width: max-content;
    font-size: var(--fs-5);
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sd);
    transition: all 2s ease;
}
.banner-btn:hover {
    background: var(--blackish);
}

.category{
    margin-bottom: 30px;
}

.category-item-container{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory ;
    overscroll-behavior-inline:contain;
}
.category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    scroll-snap-align: start;
}

.category-img-box{
    background-color: var(--light-gray);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: 10px;
}
.category-content-box{width: 100%;}
.category-content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.category-item-title{
    color: var(--blackish);
    font-size: var(--fs-9);
    font-weight: 600;
    text-transform: uppercase;
}

.category-item-amount{
    color: var(--sonic-silver);
    font-size: var(--fs-10);
}
.category-btn{
    color: var(--primary2-color);
    font-size: var(8);
    font-weight: 500;
    text-transform: capitalize;
}

/* sidebar styling */
.sidebar-title{
    font-size: 30px;
}
.sidebar{
    background: var(--white);
    position: fixed;
    top: 0;
    left:-100%;
    bottom:0;
    padding: 20px;
    width: 100%;
    max-width: 320px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
    height: 100%;
}
.sidebar.active{
    left: 0;
    visibility: visible;
}
.sidebar-category{
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid var(--gray-color);
}
.sidebar-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:10px ;
}
.sidebar-title{
    color: var(--blackish);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 600;
}
.sidebar-close-btn{
    color: var(--blackish);
    font-size: 22px;
    font-weight: 700;
}
.sidebar-close-btn .fas{
    stroke-width: 70px;
}
.sidebar-accord-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}
.sidebar .menu-title-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar .menu-title{
    font-size: 17px;
    color: var(--sonic-silver);
    font-weight: 500;
}
.sidebar-accord-menu i{
    color: var(--sonic-silver);
    font-size: 13px;
    stroke-width: 60px;
}
.sidebar-submenu-category-list{
    border-top: 1px solid var(--gray-color);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.sidebar-menu-category.active .sidebar-submenu-category-list{
    padding: 13px 0 8px;
    max-height: max-content;
    visibility: visible;
    
}
.sidebar-submenu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    padding: 2px 0;
}
.sidebar-submenu-title:hover{
    color: var(--blackish);
}
.sidebar .product-name{
    text-transform: capitalize;
}
.sidebar .showcase-heading{
    font-size:var(--fs-5);
    font-weight: 600;
    color: var(--blackish);
    text-transform:uppercase;
    letter-spacing:0.8px;
}
.sidebar .showcase{
    display: flex;
    align-items: center;
    gap:15px;
}
.sidebar .showcase:not(:last-child){
    margin-bottom:15px;
}
.sidebar .showcase-img{
    border-radius: var(--border-radius-sd);
}
.sidebar .showcase-content{
    width: calc(100% - 90px);
}
.sidebar .showcase-title{
    color: var(--blackish);
    font-size: var(--fs-7);
    font-weight: 600;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}
 .showcase-rating{
    color: gold;
    padding: 4px 0;
    font-size: 13px
}
.sidebar .price-box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sidebar .price-box del{
    color: var(--sonic-silver);
    font-size: 13px;
}
.sidebar .price-box .price{
    font-size:var(--fs-7);
    font-weight: 600;
    color: var(--spanish-gray);
}

/* PRODUCT MINIMAL */
.product-minimal{
    margin-bottom: 30px;
}
.product-minimal .product-showcase{
    margin-bottom: 10px;
}
.product-minimal .showcase-wrapper{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
.product-minimal .showcase-container{
    min-width: 100%;
    padding: 30px;
    scroll-snap-align: start;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius-sd);
}
.product-minimal .showcase{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--gray-color);
    padding: 15px;
    border-radius: 10px;
}
.product-minimal .showcase:not(:last-child){
    margin-bottom: 15px;
}
.product-minimal .showcase-content{
    width: calc(100% - 65px);
}
.product-minimal .showcase-title{
    color: var(--blackish);
    font-size: var(--fs-7);
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}
.product-minimal .showcase-category{
    width: max-content;
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
}
.product-minimal .showcase-category:hover{
    color: var(--primary2-color);
}
.product-minimal .price-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-minimal .price{
    font-size: var(--fs-7);
    font-weight: 700;
    color: var(--primary2-color);
}
.product-minimal .price-box del{
    font-size: var(--fs-9);
    color: var(--sonic-silver);
}

/* PRODUCT FEATURE */
.product-feature{
  margin-bottom:30px ;
}
 .product-feature .showcase-wrapper{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
 }
 .product-feature .showcase-container{
    min-width: 100%;
    scroll-snap-align: start;
    padding: 0 5px;
    gap: 10px;


 }
 .product-feature .showcase-content{
    width: calc(100% - 65px);
}
 .product-feature .showcase{
    border:  1px solid var(--gray-color);
    border-radius:  10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .product-feature .showcase-rating{
    padding: 10px 0;
 }
 .product-feature .showcase-content{
    margin-bottom: 10px;
 }
 .product-feature .showcase-title{
    padding: 5px 0;
    font-size: var(--fs-2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }
 .product-feature .showcase-img{
    background: transparent;
    width: 100%;
 }
 .product-feature .showcase-descript{
    font-size: var(--fs-5);
    padding: 15px 0;
    line-height: 1.5;
 }
 .price-box{
    display: flex;
    gap: 10px;
    font-size: var(--fs-4);
    font-weight: 600;
    margin-bottom: 10px;
 }
 .price-box .price{
    color: var(--primary2-color);
    font-size: var(--fs-3);
 }
 .price-box del{
    color: var(--gray-color);
 }
 .add-cart-btn{
    background-color: var(--primary2-color);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--white);
    font-size: 19px;
    margin-bottom:  20px;
 }
 .add-cart-btn:hover{
    background-color: var(--black);
 }
.product-feature .countdown{
    display: flex;
    gap: 15px;
    padding: 7px 0;
}
.product-feature .countdown-desc{
    font-size: 12px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.product-feature .countdown-content{
    background: var(--light-gray);
    padding:10px ; 
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}
.product-feature .display-text{
    font-size: 10px;
}

.product-feature .wrapper{
    display:flex;
    gap: 20px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: var(--fs-9);
}
.product-feature .showcase-status-bar{
    position: relative;
    height: 10px;
    background-color: var(--light-gray);
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-feature .showcase-status-bar::before{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 40%;
    background: var(--primary2-color);
    height: 4px;
}

/* product grid */
.product-main{margin-bottom: 30px;}
.product-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}
.product-grid .showcase{
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius-sd);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.product-grid .showcase:hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.product-grid .showcase-banner{
    position: relative;
}
.product-grid .product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.product-grid .product-img.default{
    position: relative;
    z-index: 1;
}
.product-grid .product-img.hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}
.product-grid .showcase:hover .product-img.hover{opacity: 1;}
.product-grid .showcase:hover .product-img.default{opacity: 0;}
.product-grid .showcase:hover .product-img{transform: scale(1.1);}

.product-grid .showcase-badge{
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--success-color);
    font-size: var(--fs-8);
    font-weight: 800;
    color: #fff;
    padding: 8px 16px;
    border-radius: var(--border-radius-sd);
    z-index: 3;
}
.product-grid .showcase-actions{
    position: absolute;
    top: 10px;
    right: -10px;
    font-size: 20px;
    transform: translateX(50px);
    transition: all 0.5s ease;
    z-index: 3;
}
.product-grid .showcase:hover .showcase-actions {
    transform: translateX(0);
    right: 10px;

}
.product-grid .btn{
    background: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--gray-color);
    padding: 5px;
    border-radius: var(--border-radius-sd);
    transition: all 0.5s ease;
}
.product-grid .btn-action:hover{
    background: var(--blackish);
    color: var(--white);
    border-color: var(--blackish);
}
.product-grid .showcase-actions .btn-action .uil-heart{
    position: relative;
}
/* .product-grid .showcase-actions .btn-action .uil-heart::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 7;
} */

.product-grid .showcase-actions .btn-action {
    display: block;
    color: var(--sonic-silver);
    font-size: 25px;
    margin-bottom: 5px;
    border: 1px solid var(--gray-color);
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.product-grid .showcase-content{
    padding: 15px 20px 0;
}
.product-grid .showcase-category {
    color: var(--primary2-color);
    font-size: var(--fs-8);
    font-weight: 500;
    text-transform: uppercase;
}
.product-grid .showcase-title{
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: all 0.5s ease;
}
.product-grid .showcase-title:hover,
.product-grid .price-box:hover{
    color: var(--black);
}

.product-grid .showcase-title:hover{
    color: var(--blackish);
}
.product-grid .showcase-rating{

    margin-bottom: 10px;
}
.product-grid .price-box{
    margin-bottom: 30px;

}
.product-grid .price-box .price{
    color: var(--black);
}
.product-grid .showcase-badge.angle{
    top: 8px;
    left: -20px;
    transform: rotate(-45deg);
    padding: 4px 40px;
    font-size: 15px;
    text-transform: uppercase;

}
.product-grid .showcase-badge.black{
    background-color: var(--black);
}
.product-grid .showcase-badge.pink{
    background-color: palevioletred;
}
















@media (max-width:900px) {
    .container{
        width: var(--container-width-md);
    }
    .container .icons{
        display: none;
    }
}
