@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&family=Roboto:wght@100;300;400&display=swap');
:root {
    --roboto: "Roboto" sans-serif;
    --poppins: "Poppins" sans-serif;
    --white: hsl(252, 30%, var(--white-color-lightness));
    --black: black;
    --blackish:rgb(73, 72, 72);
    --sonic-silver:hsl(0, 0%, 47%);
    --spanish-gray:hsl(0, 0%, 60%);
    --primary-color-hue: 252;
    --dark-color-lightness:17%;
    --light-color-lightness:95%;
    --white-color-lightness:100%;
    --light-color: hsl(252, 30%, var(--light-color-lightness));
    --gray-color: hsl(var(--primary-color-hue), 15%, 65%);
    --primary-color:hsl(var(--primary-color-hue), 75%, 60%);
    --primary1-color:hsl(52, 75%, 60%);
    --primary2-color:hsl(202, 75%, 60%);
    --secondary-color:hsl(240, 6%, 93%);
    --success-color:hsl(120, 43%, 48%);
    --danger-color:hsl(0, 95%, 65%);
    --dark-color:hsl(252, 30%, var(--dark-color-lightness));
    --box-shadow:  0 2px 10px rgba(0, 0, 0, 0.3);
    --dark-text: rgb(34, 31, 31);
    --border-radius-sd:5px;
    --border-radius:32px;
    --card-border-radius:16px;
    --btn-padding:9px 32px;
    --search-padding: 9px 16px;
    --card-padding:16px;

    --sticky-top-left:86.4px;
    --sticky-top-right:-288px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --fs-1:1.563rem;
    --fs-2:1.375rem;
    --fs-3:1.25rem;
    --fs-4:1.125rem;
    --fs-5:1rem;
    --fs-6:0.938rem;
    --fs-7:0.875rem;
    --fs-8:0.813rem;
    --fs-9:0.75rem;
    --fs-10:0.688rem;
    --fs-11:0.625rem;


    }
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;
    /* border: none; outline: none; */
    outline: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-text);
}
body {
    /* overflow-x: hidden; */
    font-family: var(--poppins);
    color: #000;
    background-color: #fff;
}
html{
    overscroll-behavior: contain;
}
img {
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: #fff;
    border-left: 1px solid var(--gray-color);
}
body::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 80%);
    border: 3px solid #fff;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 70%);

}
/* general styling */
.container{
    width:var(--container-width-lg);
    margin:0 auto;
}
.icons{
    cursor: pointer;
    font-size: 24px;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
input{
    width: 100%;
    display: block;
}
.input:hover{
    border-color: var(--primary2-color);
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius:10px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
}
.text-bold{
    font-weight: 500;
    color: #000;
}
.text-muted{
    color: var(--gray-color);
}
.has-scrollbar{
    padding-bottom: 5px;
}
.has-scrollbar::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
.has-scrollbar::-webkit-scrollbar-thumb{
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
}
.has-scrollbar:hover::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 90%);
}
.has-scrollbar::-webkit-scrollbar:hover{
    background: hsl(0, 0%, 80%);
}




#preloader{
    background: #fff url(assets/gif\ loader.gif) no-repeat center center;
    height: 100vh;
    background-size: 40%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
/* modal */
.modal-container{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: none;
}
.modal{
    background: #fff;
    width: 350px;
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.modal-container.show-modal{
    display: block;
}
.modal-header{
    background: var(--primary2-color);
    color: #fff;
    padding: 15px;
}
.modal-header h3{
    margin: 0;
    font-size: 25px;
}
.modal #times{
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background: transparent;
    border: none;
}
.modal-content{
    padding: 20px;
    font-size: 19px;
}
.modal-content div {
    margin: 15px 0;
}
.modal-content div label{
    display: block;
    margin-bottom: 12px;
}
.modal-content div input{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-color:var(--primary2-color) ;
    width: 100%;
}
.form-btn{
   text-align: center;
   background: transparent;
}
#close-btn{
    font-size: 16px;
    background-color: var(--primary2-color);
    border-color: #fff;
    color: #fff;
}
#close-btn:hover{
    background: transparent;
    color: #000;
    border-color: var(--primary2-color);
}

/* notification popup */
.notification-popup{
    background-color: #fff;
    position: fixed;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-sd);
    width: 300px;
    max-width: 100%;
    bottom: 80px;
    left: 20px;
    right: 20px;
    transform: translateX( calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: slideInOut 10s ease-in-out infinite;
}
@keyframes slideInOut {
    0%,
    45%,
    100%{
        transform: translateX( calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }
    50%,
    95%{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}
.notification-popup.closed {
    display: none;
}


.notification-popup #notifi-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--gray-color);
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
.notification-toast{
    display: flex;
    align-items: flex-start;
    gap: 15px ;
    padding: 25px;
}
.notifi-img{
    width: 50%;
    border: 1px solid rgb(202, 195, 195);
    padding: 5px;
}
.notifi-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: 0.5s ease;
}
.notifi-img:hover{
    transform: scale(0.9);
}


/* HEADER STYLING */
/*.container .icons .social-links a{
    background:rgba(231, 227, 227, 0.3) ;
    padding: 5px;
    border-radius: 4px;
}
header .header-top .container,
header .header-main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px 50px;
    border-bottom: 1px solid var(--secondary-color);
    z-index: 100;
    font-size: 14px;
}
.lang select{
    border: none;
    color: var(--gray-color);
    font-size: 14px;
    text-transform: uppercase;
}
.container .header-text{
    text-transform: uppercase;
 } */




/* header main */
/*.header-main .container{
    padding: 30px;
    height: 80px;
}
.container .input{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border:1px solid var(--secondary-color);
    width: 40%;
    padding: 7px;
    border-radius: 5px;
    color: var(--gray-color);
}
.input input{
    border: none;
    background-color: transparent;
    font-size: 14px;

}

*/
/* Header styling */
.header-top, .desktop-navigation-menu,
.icons-link{
    display: none;
}
.header-main{
    padding: 20px 0;
    border-bottom: 1px solid var(--gray-color);
}
.input input{
    border: none;
    background-color: transparent;
    font-size: 14px;

}
.input{
    margin-top: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border:1px solid var(--secondary-color);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    color: var(--gray-color);
}

.header-logo .img{
    margin: auto;
}
.fa-search:hover{
    color: var(--primary2-color);
}
.action-btn{
    position: relative;
    font-size: 20px;
    color: #000;
}
.action-btn a{ 
     color: var(--gray-color);
}
.count{
    position: absolute;
    color: #fff;
    background-color: var(--danger-color);
    font-size: 12px;
    color: var(--white);
    border-radius: 20px;
    padding: 2px 5px;
    top: -3.2px;
    right: -4.8px;
} 

.mobile-bottom-nav {
    background: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
    padding: 5px 0;
    z-index: 5;
}
.action-btn{
    color: #000;
}
.mobile-nav-menu{
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}
.mobile-nav-menu.active{
    left: 0;
    visibility: visible;
}

.menu-top{
    padding-bottom:15px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid var(--gray-color);
}
.menu-top .menu-title{
    color:var(--primary2-color);
    font-size:var(--fs-4);
    font-weight:600;
}
.menu-close-btn{
    color: var(--gray-color);
}
.menu-close-btn .uil-times{
    font-size: 20px;
    stroke-width: 50px;
}
.mobile-menu-category-list{
    margin-bottom: 30px;
}
.menu-category .accord-menu{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu-category-list .menu-category{
    border-bottom: 1px solid var(--gray-color);
    padding: 10px 0;
}
.mobile-menu-category-list .menu-title{
    color: var(--blackish);
    font-size:var(--fs-6);
    font-weight:500;
    padding: 12px 0;
}
.accord-menu > div {
    font-size: 14px;
}
.accord-menu .uil{
    color: var(--blackish);
    stroke-width: 100px;
}
.accord-menu.active .uil-plus,
.accord-menu .uil-minus{
    display: none;
}
.accord-menu .uil-plus,
.accord-menu.active .uil-minus{
    display: block;
}
.menu-category .submenu-category-list{
    margin-left: 10px;
}
.submenu-title{
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight:300;
}
.submenu-title:hover{
    color: var(--spanish-gray);
}
.submenu-category-list{
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.submenu-category-list.active{
    max-height: 148px;
    visibility: visible;
}
.menu-bottom .menu-category-list{
    margin-bottom: 20px;
}
.menu-bottom .menu-category{
    border-bottom: none;
}
.menu-bottom .menu-title {
    font-size: var(--fs-6);
    font-weight: 500;
    color: var(--blackish);
    padding: 12px 0;
}
.accord-menu.active img {
    transform: rotate(360deg);
}







@media (max-width:900px) {
    .container{
        width: var(--container-width-md);
    }
    .container .icons{
        display: none;
    }
}